registry=https://registry.npmjs.org/
replace-registry-host=never
omit-lockfile-registry-resolved=true
fetch-retries=5
fetch-retry-mintimeout=20000
fetch-retry-maxtimeout=120000
fetch-timeout=120000
engine-strict=false
